<div class="abouts">

</div>

<h3>A Little About My Favorite...</h3>

<hr>

<h2>MEXICAN FOOD HISTORY</h2>

<p>The history of Mexican food is a long and diverse one. It is believed that authentic Mexican food might have been derived from the Mayan Indians. They were traditionally nomadic hunters and gatherers. Corn tortillas with bean paste were a common food item; but they also ate wild game, tropic fruits, and fish.</p>

<p>In the mid 1300's, The Aztec Empire was thriving, and though the Mayan food staples were still in use, chili peppers, honey, salt and chocolate found its way into their cooking. Some of the wild game, such as turkey and duck, had now become domesticated.</p>

<p>In 1521 Spain invaded Mexico. Spanish foods had the most influence on the Mexican cuisine. They introduced new livestock, such as sheep, pigs and cows. They brought with them dairy products, and garlic as well as many different herbs, wheat and spices. It was at this time that the Mexican people saw the assimilation of many other cuisines including Caribbean, South American, French, West African and Portuguese. Because of this Mexican foods today are diverse, yet dishes to vary from region to region.</p>


<h2>Cooking methods, past and present</h2>

<p>The early natives of Mexico did not have ovens, instead they heated food over and open fire, using cast iron skillets and ceramic ware. Another method was steaming. They would suspend meat wrapped in cactus or banana leaves, over boiling water in a deep pit. Frying was also a popular method.</p>

<p>They used a metate y mano, which is a large tool made of lava rock or stone that they would use as a grinding stone or the molcaiete, which was smaller, to grind and smash ingredients. The molcaiete, or mortar and pestle, is a small bowl shaped container that can be made of stone, pottery, hard wood or marble, and the pestle is baseball bat shaped.</p>


<h2>A Brief History on Some of Our Favorite Foods</h2>

<p>Salsa was sold in the Aztec market places. Salsa, the Spanish word for sauce, is uncooked and sometimes pureed until chunky, smooth, or chopped. Large red tomatoes, tomatillo, chipotle {a staple in the Aztec diet} and the avocado are found in the modern salsa, and are the same core ingredients used in the past. We can thank the Aztecs for Chocolate. It was through them that the Spaniards brought the product to Europe in 1657. The term enchilada is first referenced in the US in 1885. Yet the concept of tortillas being used as a wrap can be clearly linked to the Aztecs. The word enchilada means "in chile."</p>

<p>The tomatillo is a fruit that dates back to at least 800 BC, the word meaning round and plump. The Aztecs domesticated it, and when the Europeans came to Mexico, they documented the local foods and often confused the names by shortening the words. Though never popular with Europeans, it thrived in Italy. Today a relative of the fruit is common in the US. Tomatillo, a member of the night shade family, provides tart flavor in many different green sauces.</p>

<p>The Portuguese aided the spread of the chili pepper plants. Thought the earliest mention was in 1542 when a German herbalist, Leonhart Fuchs, described and illustrated several types of peppers. Though for people of Europe, the history of the pepper began in the late 15th century, when Colombus brought the peppers home. There is archaeological evidence that peppers were in use since 5000 BC.</p>

<p>Pre-Columbus is how far back the Tamale can be traced. The Friar Bernardino de Sahagun documented that the Spaniards were served tamales by the Aztecs in the 1550's.</p>

<p>Other foods that we associate with Mexican cuisine, are not traditionally so. The Flan was discovered in Medieval Europe. And ceviche is an Inca discovery, eating their catch of the day raw with only a few seasonings. It wasn't until the late 15th century when Native American chefs of Ecuador and Peru began to add the citrus fruits with the South American fish, and creating the dish that we know today.</p>

<p>Flavors from around the world have influenced Mexican dishes. The same can be said about Mexican traditional favorites affecting other countries menus. In just about every culture you look at, you can find a hint of Mexico.</p>